/* dirección web de repocitorio */
/* https://github.com/Neferyesid/practica_git_coex.git */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: chartreuse;
}